* {
    font-family: Roboto, Arial, sans-serif;
}


/*scroll bar*/

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #717171;
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    background: #0f0f0f;
}

i:hover {
    cursor: pointer;
    background-color: #717171;
}

/*navbar*/
header {
    position: fixed;
    z-index: 30;
}

.navbar {
    background: #0f0f0f;
    width: 100%;
    height: 61px;
    display: inline-flex;
    z-index: 30;
}


.logo {
    display: flex;
    margin-left: 72px;
    height: 122%;
    margin-bottom: 54px;
    margin-top: -6px;
}

.logo:hover {
    cursor: pointer;
}

.searchInput {
    border: 2px solid #717171;
    border-radius: 20px;
    background-color: #0f0f0f;
    display: inline-flex;
    width: 530px;
    height: 36px;
    margin-left: 272px;
    margin-top: 10px;

}

.searchInput>input {
    width: 90%;
    border: none;
    border-radius: 20px;
    background: #0f0f0f;
    color: #fff;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    font-size: larger;
    margin-left: 12px;
}

.searchInput>input:focus {
    outline: none;
}

.searchInput>i {
    background-color: #222222;
    color: #6e6e6e;
    padding: 7px;
    padding-right: 19px;
    padding-left: 15px;
    padding-bottom: 30px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 22px;

}

.mike-icon {
    width: 44px;
    height: 11%;
    ;
    margin-left: 13px;
    border: none;
    border-radius: 33px;

    margin: 7px;
    margin-left: 12px;
    display: inline-table;
    background-color: #222222;

}

.mike-icon:hover {
    background-color: #6e6e6e;
}

.mike-icon>i,
.video-icon>i,
.bell-icon>i,
.user-icon>i {
    color: #fefefe;
    font-size: 20px;
    padding-top: 17px;
    padding: 11px;
    padding-left: 13px;
    border-radius: inherit;

}

.video-icon {
    background-color: #fff;
    width: 44px;
    height: 33%;
    margin-left: 13px;
    border: none;
    border-radius: 33px;
    margin: 7px;
    margin-left: 12px;
    display: inline-table;
    background-color: #222222;
    margin-left: 328px;
}

.bell-icon {
    background-color: #fff;
    width: 44px;
    height: 33%;
    margin-left: 13px;
    border: none;
    border-radius: 33px;
    margin: 7px;
    display: inline-table;
    background-color: #222222;
}

.user-icon {
    background-color: #fff;
    width: 44px;
    height: 33%;
    margin-left: 13px;
    border: none;
    border-radius: 33px;
    margin: 7px;
    display: inline-table;
    background-color: #222222;
}


/*video section*/
.main-section {
    display: flex;
    padding-top: 44px;
}

.contents {
 
    margin: 5px;
    margin-left: 27px;
    margin-top: 58px;
    display: flex;
    flex-wrap: wrap;
}


.content {
    padding: 5px;
}

.content:hover {
    transform: scale(1.2);
    transition: 0.2s;
    z-index: 1;
    position: relative;


}

.content>iframe {
    width: 339px;
    height: 191px;
    border: none;
    border-radius: 25px;

}


/*sugetions*/
.suggestions {
    position: absolute;
    color: whitesmoke;
    margin-left: 13px;
    margin-top: -34px;
}

.sug-text {
    padding: 5px;
    border: none;
    border-radius: 6px;
    background: #222222;
    margin-left: 5px;
}

.sug-text:hover {
    background: #6e6e6e;
    cursor: pointer;
}



/*sidebar*/

.sec-end{
    height: 10px;
}
.sec-end p{
    background: #222222;
    height: 1px;
}
.navigation .icon {
    width: 25px;
    height: 20px;
}

.navigation {
    position: relative;
    top: 22px;
    left: 11px;
    bottom: 20px;
    width: 149px;;
    border-radius: 10px;
    box-sizing: initial;
    /* border-left: 5px solid #6e6e6e; */
    background: #0f0f0f;
   
    
    transition: width 0.5s;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 342px;
}

.navigation .icon-hide{
    display: none;
}

.navigation.active .icon-hide{
    display: list-item;
}

.navigation.active {
    width: 510px;
    height: 720px;
    overflow-y: scroll;
   
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
    padding-top: 0px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 31px;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 20px
}

.navigation.active ul li {
    position: relative;
    list-style: none;
    width: 190px;
    border-radius: 10px;
    padding: 6px;
    height: 35px;
    margin: 2px;
    margin-right: 0;
    padding-top: 1px;
    padding-bottom: 7px;
}

.list:hover {
    background: #222222;
}



.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff
}

.navigation .active a {
    color: #6e6e6e;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 20px;
    height: 42px;
    line-height: 60px;
    text-align: center;

}

.navigation ul li a .title{
    position: absolute;
    display: flex;
    margin-top: 19px;
    padding-left: -58px;
    height: 42px;
    line-height: 60px;
    white-space: normal;
    font-size: 12px;
    margin-left: -4px


}
.navigation.active .title {
    position: relative;
    display: block;
    margin-top: -8px;
    padding-left: 10px;
    height: 42px;
    line-height: 60px;
    white-space: normal;
    font-weight: 200;
    font-size: 14px;
}

/* hamberger btn  */
.ham-btn {
    position: fixed;
    top: 12px;
    right: 96%;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;


}

.ham-btn.active {
    /*background: blue; */
}

.ham-btn i {
    position: absolute;
    color: #6e6e6e;
    font-size: 29px;
    top: 5px;
    background: #0f0f0f;

}

.ham-btn:hover {
    background: #0f0f0f;
}

.navigation .line{
    color: #222222;
    width: 1px;
}


/* */

.showmore .title{ 
    color: #fff;
}

.showmore:hover{
    background-color: #222222;
}
.showmore .playlists-con{
    display: none;
}

.showmore.active{
    height: 200px;
}
.showmore.active .icon{
   /* transform: translateY(-50%) rotate(-180deg); */
}


.showmore.active .playlists-con{
    display: block;
    margin-top: 47px;
    margin-left:-15px
}

.playlist:hover{
    background: #222222;
    margin-left: -11px;
}
.shrink:hover{
    background: #222222;
    margin-left: -11px;
}

.showmore.active .shrink{
    display: block;

}

#showmore-secEnd.sec-end.active{
    margin-top: 185px;
}

/* */
/*navigation subsscriptions*/

.sub-heading{
    display: contents;
    color: #fff;
    margin-top: -15px;
    font-size: 18px;
    font-weight: 300;
}



.footer-text{
    color: #fff;
    display: contents;
    height: 125px;
    position: relative;
}
